body {
    font-family: Arial;
    background: linear-gradient(135deg,#ce6ccc,#07010d,#1ab6d8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 300% 300%;
    animation: gradientShift 10s ease infinite;
}

.calculator {
    backdrop-filter: blur(15px);
    background: rgb(132, 59, 113);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 32px rgba(0,0,0,0.3);
    width: 550px;
    text-align: center;
    color: white;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.2);
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #e0e0e0;
    cursor: pointer;
}

button:hover {
    background: #6b8332;
}

.equal {
    background: #4CAF50;
    color: white;
}

.zero {
    grid-column: span 2;
}
h3 {
    margin-top: 20px;
    color: white;
}

